.wwcdfy {
    color: white;
    text-align: center;
    margin-bottom: 1em;
}

.CarouselContent {
    text-align: center;
}

.SecondSession {
    text-align: center;
}

.aboutusText {
    text-align: left;
    width: 30%;
}

.aboutus {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
    background-color: rgba(255,255,255,0.5);
    padding: 1em;

}


.aboutus:nth-child(odd) {
    flex-direction: row-reverse;
}

.aboutusText:nth-child(odd) {
}

.OurImages {
    border-radius: 30%;
    max-height: 200px;
    max-width: auto;
}

.wwycfycontent {
    justify-content: center;
    align-content: center;
    background-color: #252525;
}

.paragraph {
    text-align: center;
               }

.carousel-caption {
    color: #252525;
    background:rgba(255,255,255,0.5);;
}