* {
    font-family: 'Work Sans', sans-serif !important;
}

h1 {
    vertical-align: center;
    text-align: center;
    background-color: #de9e36;
    font-size: 30px;
    font-family: 'Teko', sans-serif; !important;

}

h2 {
    text-align: center;
    font-size: 30px !important;
    font-family: 'Teko', sans-serif !important;
    letter-spacing: 0.2em !important;
}

h4 {
    font-weight: bold;
}


body {
    background: #37323e;
    background:-webkit-linear-gradient(bottom, #37323e, #6d6a75);
    background: -moz-linear-gradient(bottom, #37323e, #6d6a75);
    background: -ms-linear-gradient(bottom, #37323e, #6d6a75);
    background: -o-linear-gradient(bottom, #37323e, #6d6a75);
    background: linear-gradient(to top, #37323e, #6d6a75);

}

p {
    font-size: 15px;
    text-align: left;
    margin: 1em;
    font-family: 'Work Sans', sans-serif !important;

}

.navbar {
    margin-bottom: 1em;
}