footer ul {
  list-style: none;

}
footer ul li {
  display: inline-block;
}
footer ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

footer ul li a:after,
footer ul li a:before {
  transition: all .5s;
}
footer ul li a:hover {
  color: #555;
}


footer ul li a {
  position: relative;
}

footer ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #F3FFBD ;
  height: 1px;
}
footer ul li a:hover:after {
  width: 100%;
}

.centertext {
  text-align: center;
}

.row {
  background: #252525;
}

.nodecor {
  text-decoration: none;
  list-style-type: none;
}
.headtitle {
  margin: 20px;
}


.resizeicons {
  width:50px;
  height: 50px;
}

.copyrightsize {
  font-size: x-small;
}