@media only screen and (max-width: 991px) {
  .navheight {
    max-height: 230px;
  }
}
.navbackcolor {
  background-color: #3560CE;
}

.brand {
  text-align: center;
  font-size: 30px !important;
  font-family: 'Teko', sans-serif !important;
  letter-spacing: 0.2em !important;
}
//.navheight {
//  height: 70px;
//  font-size: 20px;
//}

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

nav ul li a,
nav ul li a {
  position: relative;
}

nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #F3FFBD ;
  height: 1px;
}
nav ul li a:hover:after {
  width: 100%;
}
