@import "parallax";
@import "variables";

body {
  margin: 0;
}

.parallax {
  @include parallax;
}

.flex {
  margin: 10vh 0;
  @include mQ(768px) {
    display: block;
  }
  display: flex;

  .mainContent {
    padding: 0;
    @include mQ(768px) {
      width: 100%;
    }

    .mainText {
      padding: 2vh 3vw;
      background-color: #f2f2f2;
      margin: 0;
      height: 85%;
      overflow: hidden;

    }

    h1 {
      font-size: 3vw;
      margin-bottom: 0;
      height: 15%;
      padding-top: 1%;
      @include mQ(576px) {
        font-size: 30px;
      }
    }
  }

  .image {
    padding: 0;
    @include mQ(768px) {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }
}

p {
  font-size: 1.5vw;
  @include mQ(576px) {
    font-size: 15px;
  }
}