@import "parallax";
@import "variables";

body{
  margin: 0;
}

.parallax{
  @include parallax;
}

.flex{
  display: flex;
  margin: 10vh 0;
}

.mainContent{
  padding: 0;
  @include mQ(768) {
    width: 100%;
  }
}

h1 {
  font-size: 3vw;
  margin-bottom: 0;
  height: 15%;
  padding-top: 1%;
}

p {
  font-size: 1.5vw;
}

.mainText {
  padding: 2vh 3vw;
  background-color: #f2f2f2;
  margin: 0;
  height: 85%;
  overflow: hidden;
}

.image {
  padding: 0;
  @include mQ(768) {
    width: 100%;
  }
}

img {
  width: 100%;
}