.parallax {
  background-image: url("https://picsum.photos/1200/800");
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

