@mixin parallax {
  background-image: url("https://www.cosyproject.com/media/wysiwyg/home/home_content_block_banner_bottom.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include mQ(576px) {
    display: none;
  }
}

@mixin mQ ($arg) {
  @media screen and (max-width: $arg){
    @content
  }
}